* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    grid-gap: 10px;
}

body {
    background-color: rgb(250, 240, 230);
    font-family: 'Maven Pro', sans-serif;
}

.container__menu {
    padding: 0 10px 20px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.header__menu {
    background-color: rgba(70, 130, 180);
    color: whitesmoke;
    margin-bottom: 30px;
    padding: 40px 0;
    grid-column: 1/-1;
    text-align: center;
    border: 5px outset black;
}

.header__menu h1 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 10px;
}

.header__menu h3 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 4px;
}

.article__food {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.article__food:hover {
    transform: scale(0.95);
    transition: all 1s linear;
}

.article__food img {
    position: relative;
    width: 100%;
    height: 450px;
    border-radius: 15px 15px 0 0;
}

h1 {
    grid-column: 1/-1;
    text-align: center;
}

.article__producto {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.article__producto--detalle {
    display: grid;
    grid-template-columns: auto auto;
}

.article__producto--detalle h4 {
    font-weight: 600;
    font-size: 18px;
}

.article__producto--precio {
    text-align: right;
}

.article__producto p {
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

footer {
    background-color: steelblue;
    width: 100%;
    color: whitesmoke;
    padding: 10px;
    letter-spacing: 2px;
    text-align: center;
    border: 3px outset black;
}
